html{
	font-size: 16px;
}

body,html{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #dd4337;
}
a{
	text-decoration: none;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.header{
	height: 4rem;
	background-color: #e4e47a;
}
.header .btn{
	width: 50%;
	height: 100%;
	float: left;
	color: #fff;
	display: inline-block;
	line-height: 4rem;
	text-align: center;
	cursor: pointer;
}

.header .active{
	background-color: #dd4337;
}

.centerRankDesc{
	width: 100%;
	margin-top: 1rem;
}
.centerRankDesc .ranknum{
	color: yellow;
	font-size: 1.5rem;
	font-weight: bolder;
	display: block;
	width: 100%;
	text-align: center;
}
.rankdesc{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff;
}
.rankfloat{
	width: auto;
	margin-top: 0.5rem;
	margin-left: 1rem;
}
.mainbtn{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 2rem 0;
}
.mainbtn a{
	display: inline-block;
	width: 8rem;
	height: 8rem;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 1.5rem rgba(0,0,0,0.3);
}
.checkRanking a{
	background-color: #e82d1e;
}
.checkRanking img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-45%,-55%);
	-webkit-transform: translate(-45%,-55%);
}
.gameBtn img{
	position: absolute;
	left: -45%;
	width: 200%;
	height: 100%;
}

.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.rankCont{
	padding-top: 1px;
	width: 90%;
	height: 27rem;
	margin: 0 auto;
	background-color: #dd4337;
	border-radius: 0.5rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.desc{
	width: 100%;
	height: 11rem;
	padding-top: 1px;
}
.rankCont h3{
	text-align: center;
	color: #fff;
	margin: 1rem 0;
}
.rankCont img{
	width: 4rem;
	height: 4rem;
	display: block;
	border-radius: 50%;
	box-shadow: 0 0 1.5rem rgba(0,0,0,0.3);
	/*float: left;*/
	margin: 0.2rem auto;
}
.header-r h3{
	margin: 0;
	line-height: 4rem;
	text-align: center;
	color: #fff;
	position: relative;
}
.table{
	width: 100%;
	/*height: 12rem;*/
	/*overflow: scroll;*/
	z-index: 1000;
}
.head{
	width: 100%;
	height: 3rem;
	background-color: #be382e;
	/*position: absolute;*/
	/*bottom: 60%;*/
}
.tb{
	border-bottom: 1px solid #be382e;
	height: 3rem;
}
.head span,.tb span{
	width: 33%;
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	line-height: 3rem;
}
.tb div{
	position: relative;
}
.tb div img{
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0.5rem;
	border-radius: 50%;
}
.close{
	width: 2rem;
	height: 2rem;
	background-color: #fff;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
	top: 0.8rem;
	right: 1rem;
}
.close a{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	line-height: 1.8rem;
	font-size: 2rem;
	font-weight: bolder;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}


/*game*/
.bgp{
	height: 100%;
	width: 100%;
	position: fixed;
	background: url(../img/gameindex.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.bgp1{
	height: 100%;
	width: 100%;
	position: fixed;
	background: url(../img/failed.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.bgp2{
	height: 100%;
	width: 100%;
	position: fixed;
	background: url(../img/success.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.progress{
	height: 2.5rem;
	width: 13rem;
	position: relative;
	background-color: yellow;
	float: left;
	overflow: hidden;
	border-radius: 0.5rem;
}
.progress img{
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	/*transition: all */
}
.open{
	position: fixed;
	width: 10rem;
	height: 5rem;
	left: 50%;
	bottom: 20%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	font-size: 1.5rem;
	background-color: #fff;
	color: #701216;
	font-weight: bolder;
	border: 1px solid #701216;
}
.wait{
	width: 19rem;
    display: inline-block;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.wait span{
	display: block;
	font-size: 1.5rem;
	margin-top: 0.3rem;
	color: yellow;
	font-weight: bolder;
	margin-left: 1rem;
	float: left;
	text-align: center;
}
.dropload-up{
	color: #fff;
}
.dropload-load .loading{
	border: 2px solid #fff;
	border-bottom-color:transparent;
}
.profile{
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
.cp{
	margin: 0 auto;
	float: none;
	height: 1.5rem;
}